################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LogSender/v15/Server/sqlite3/db.lock
/.vs/LogSender/v16
/Install/bin
/Install/obj
/LogSender
/LogSender Tests
/packages
/Uninstall
/x86 LogSender Installer/Debug
